body {
    background-color: 02203C;
}

.cabecalho {
    width: 100%;
    height: 120px;
    background-color: 000000;
}
.logo {
    width: 220px;
    height: 120px;
}
.inicio {
    width: 50px;
    height: 50px;
    position: relative;
    left: 300px;
    bottom: 85px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.biblioteca {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 470px;
    top: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.perfil {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 670px;
    top: 43px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.comunidade {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 820px;
    top: 43px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.carrinho {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1020px;
    top: 43px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.login {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1520px;
    top: 43px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.idioma {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1630px;
    top: 43px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.imagem {
    width: 800px;
    height: 500px;
    background-color: white;
    position: relative;
    left: 150px;
    top: 50px;
    border-radius: 10px;
}
img {
    border-radius: 10px;
}
.descricao {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(4, 8, 29, 1);
    position: relative;
    left: 920px;
    bottom: 500px;
    color: white;
}
.banner {
    width: 320px;
    height: 100px;
    background-color: rgba(4, 8, 29, 1);
    position: relative;
    left: 40px;
    top: 50px;
}
.info {
    position: relative;
    left: 0px;
    top: 50px;
    text-align: center;
    font-size: 20px;
}
.comprar {
    position: relative;
    left: 0px;
    top: 15px;
    font-size: 15px;
    border: solid 2px;
    border-color: black;
    border-radius: 7px;
    background-color: rgba(1, 154, 62, 0.81);
    width: 200px;
    height: 30px;
    cursor: pointer;
}
.comprar:hover{
    transform: scale(1.2);
}
.addcarrinho {
    position: relative;
    left: 100px;
    top: 80px;
    font-size: 15px;
    border: solid 2px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.81);
    width: 200px;
    height: 30px;
    cursor: pointer;
    color: white;
}
.addcarrinho:hover{
    transform: scale(1.2);
}
.empresa {
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 150px;
}
.requisitos {
    width: 1220px;
    height: 300px;
    background-color: rgba(4, 52, 80, 0.19);
    position: relative;
    bottom: 420px;
    left: 40px;
    text-align: left;
    color: white;
}
.minimo {
    width: 380px;
    height: 300px;
    position: relative;
    left: 20px;
    font-size: 20px;
    border-color: white;
    border-right: solid 2px;
}
.recomendado {
    width: 380px;
    height: 300px;
    position: relative;
    left: 420px;
    bottom: 300px;
    font-size: 20px;
    border-color: white;
    border-right: solid 2px;
}
.idiomas {
    width: 380px;
    height: 300px;
    position: relative;
    left: 820px;
    bottom: 600px;
    font-size: 20px;
    border-color: white;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: blueviolet;
}